$primary-color: #0491F4;
$secondary-color: #FE5F2D;
$text-color: #233050;

$gray-100: #FBFCFF;
$gray-101: #F1F4FE;
$gray-200: #C6C8CE;
$gray-300: #8B93B1;

$error: #F63838;




$font-family: 'Helvetica Neue';

$nav-height: 5rem;